<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="owner">
	
	<!-- 메뉴추가 -->
	<insert id="addMenu" parameterType="pro.vo.MenuVo">
		insert into menu (no,name,price,store,type)
		values(#{no},#{name},#{price},#{store},#{type})
	</insert>
	<!-- 파일추가 -->
	<insert id="addAttach" parameterType="pro.vo.MenuAttachVo">
		insert into menuattach values(menuattach_seq.nextval, #{uri}, #{name}, #{parent})
	</insert>
	<!-- 메뉴삭제 -->

	<delete id="menuDelete" parameterType="java.lang.Integer">
		delete from menu where no=#{no}

	</delete>
	<!-- 메뉴수정 -->
	<update id="menuUpdate" parameterType="pro.vo.MenuVo">
		update menu set name=#{name}, price=#{price} where no=#{no}
	</update>
	<!-- 메뉴파일 업데이트 -->
	<update id="updateAttach" parameterType="pro.vo.MenuAttachVo">
		update menuattach set uri=#{uri}, name=#{name} where no=#{no} 
	</update>
	
	<!-- 메뉴 시퀀스  -->
	<select id="getSeq" resultType="java.lang.Integer">
		select menu_seq.nextval from dual
	</select>
	<!--  메뉴 리스트 -->
	<select id="getMenuList" parameterType="java.lang.Integer"
		resultType="pro.vo.MenuVo">
		select a.*, b.no fileNo, b.uri fileUri, b.name fileName from (( select * from menu where store = #{no}) a left join menuattach b on a.no = b.parent)
	</select>
	<!--  메뉴 가져오기 -->
	<select id="getMenu" parameterType="java.lang.Integer"
		resultType="pro.vo.MenuVo">
		select a.*, b.no fileNo, b.uri fileUri, b.name fileName from (( select * from menu where no = #{no}) a left join menuattach b on a.no = b.parent)
	</select>
	<!--  메뉴 타입s 가져오기 -->
	<select id="TypeFindAll" resultType="java.util.HashMap">
		select * from menutype
	</select>
	
	
</mapper>