<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store"> 
	<!-- sequence검색 -->
	<select id="getSeq" resultType="java.lang.Integer">
		select store_seq.nextval from dual
	</select>
	<!-- 상점등록 -->
	<insert id="addStore">
		insert into store(no, id, password, name, addr, type, contact) values(
			#{no}, #{id}, #{password}, #{name}, #{addr}, #{type}, #{contact}
		)
	</insert>
	
	<!--  스토어 전체조회(강성택) -->
	<select id="getAll" resultType="pro.vo.StoreVo">
		select * from store
	</select>
	<!--  스토어 음식점별 조회 -->
	<select id="getType" resultType="pro.vo.StoreVo" parameterType="java.lang.String">
		select s.*, t.id tid, t.name tname from (select * from store where type = #{type}) s join type t on s.type = t.id
	</select>
	
	<select id="getStore" resultType="pro.vo.StoreVo" parameterType="java.lang.Integer">
		select * from store where no = #{storeNo} 
	</select>
	
	
</mapper>