<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:websocket="http://www.springframework.org/schema/websocket"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/websocket http://www.springframework.org/schema/websocket/spring-websocket-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-2.0.xsd">

	<context:component-scan base-package="pro" />
	<context:annotation-config />
	<mvc:default-servlet-handler />
	<mvc:annotation-driven />
	
	<bean class="org.springframework.web.servlet.view.tiles3.TilesViewResolver" />
	<bean class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
		<property name="definitions">
			<array>
				<value>/WEB-INF/tiles/*-tiles.xml</value>
			</array>
		</property>
	</bean>
	
	<!-- websocket controller등록 -->
	<websocket:handlers>
		<websocket:mapping handler="ws" path="/ws/conn.do"/>
		<websocket:handshake-interceptors>
			<bean class="org.springframework.web.socket.server.support.HttpSessionHandshakeInterceptor" />
		</websocket:handshake-interceptors>
	</websocket:handlers>
	
	<bean id="webSessions" class="java.util.HashMap">
		<qualifier value="ws" />
	</bean>
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" /> 
	</bean>
	
	<!-- gson 등록 -->
	<bean id="gson" class="com.google.gson.Gson" />
	
	<!-- dbcp -->
	<bean id="c3p0" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver" />
		<property name="jdbcUrl" value="jdbc:oracle:thin:@13.209.76.210:1521:xe" />
		<property name="user" value="jugiyo" />
		<property name="password" value="oracle" />
	</bean>
	
	<!-- 마이바티스 매퍼파일 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="c3p0" />
		<property name="mapperLocations">
			<array>
				<value>/WEB-INF/mapper/*-mapper.xml</value>
			</array>
		</property>
	</bean>
	
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<!-- 파일에 필요한것 -->
	<bean name="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
	
	<!-- mongoDB설정 -->
	<mongo:mongo-client host="13.209.76.210" port="51249" id="mongo" />
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoClient" ref="mongo" />
		<constructor-arg name="databaseName" value="jugiyo" />
	</bean>

</beans>
